# Carga de datos a través de la función read_csv

In [37]:
import pandas as pd

In [38]:
mainpath = "/Users/Pedro/mlearningcourse/datasets"
filename = "titanic/titanic3.csv"
fullpath = mainpath + "/" + filename

In [39]:
data = pd.read_csv(fullpath)

In [40]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# Ejemplo de los parámetros de la función read_csv
read.csv(filepath="/Users/Pedro/mlearningcourse/datasets/titanic/titanic3.csv", 
        sep = ",", dtype={"ingresos":np.float64, "edad":np.int32}, header=0, names={"ingresos", "edad"},
        skiprows=12, index_col=None, skip_blank_lines=False, na_filter=True)

# CARGA DE DATOS A TRAVÉS DE LA FUNCIÓN OPEN

In [41]:
data3 = open(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", "r")

In [42]:
cols = data3.readline().strip().split(",")
cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [43]:
n_cols = len(cols)
n_cols

21

In [44]:
counter = 0
main_dic = {}
for col in cols:
    main_dic[col] = []

main_dic

{'Account Length': [],
 'Area Code': [],
 'Churn?': [],
 'CustServ Calls': [],
 'Day Calls': [],
 'Day Charge': [],
 'Day Mins': [],
 'Eve Calls': [],
 'Eve Charge': [],
 'Eve Mins': [],
 "Int'l Plan": [],
 'Intl Calls': [],
 'Intl Charge': [],
 'Intl Mins': [],
 'Night Calls': [],
 'Night Charge': [],
 'Night Mins': [],
 'Phone': [],
 'State': [],
 'VMail Message': [],
 'VMail Plan': []}

In [45]:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dic[cols[i]].append(values[i])
    counter += 1
    
print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

El data set tiene 3333 filas y 21 columnas

In [46]:
df3 = pd.DataFrame(main_dic)
df3.head()

,Account Length,Area Code,Churn?,CustServ Calls,Day Calls,Day Charge,Day Mins,Eve Calls,Eve Charge,Eve Mins,...,Intl Calls,Intl Charge,Intl Mins,Night Calls,Night Charge,Night Mins,Phone,State,VMail Message,VMail Plan
0,128,415,False.,1,110,45.070000,265.100000,99,16.780000,197.400000,...,3,2.700000,10.000000,91,11.010000,244.700000,382-4657,KS,25,yes
1,107,415,False.,1,123,27.470000,161.600000,103,16.620000,195.500000,...,3,3.700000,13.700000,103,11.450000,254.400000,371-7191,OH,26,yes
2,137,415,False.,0,114,41.380000,243.400000,110,10.300000,121.200000,...,5,3.290000,12.200000,104,7.320000,162.600000,358-1921,NJ,0,no
3,84,408,False.,2,71,50.900000,299.400000,88,5.260000,61.900000,...,7,1.780000,6.600000,89,8.860000,196.900000,375-9999,OH,0,no
4,75,415,False.,3,113,28.340000,166.700000,122,12.610000,148.300000,...,3,2.730000,10.100000,121,8.410000,186.900000,330-6626,OK,0,no